#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.rounded{
  border-radius: 20px;
}

.buttonMain{
  border: none;
  background-color: #6f42c1;
  color: white;
}
